<header>
  <span class="title">{{flatCard.attributes.title}}</span>
</header>
<main>
  <span>Количество комнат: {{flatCard.attributes.rooms}}</span>
  <span>Площадь: {{flatCard.attributes.area | area:flatCard.attributes.unit}}</span>
  <span>Адрес: {{flatCard.attributes.address | address}}</span>
  <span>Аген: {{flatCard.relationships | agent}}</span>
</main>
<footer>
  <span (click)="favouriteClicked()" *ngIf="flatCardService.isFavourite" class="favourite favourite--active">★</span>
  <span (click)="favouriteClicked()" *ngIf="!flatCardService.isFavourite" class="favourite">☆</span>
</footer>
